<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
    <body>
		<div align="center" >
			{% for student in student_list%}
		            <!-- <h2> Name: {{student.Name}} </h2>
					<h2> Number: {{student.Number}} </h2>
					<h2> Marks: {{student.Marks}} </h2>
					<h2> Address: {{student.Address}} </h2><hr><hr> -->
					<h2><a href="/detail/{{student.id}}">{{student.Name}}'s Information</a></h2><br><br>
			{% endfor %}
	    </div>
    </body>
</html>